
<style>
    #voteA{
        height:20px;
        border:1px solid black;
    }
    #voteB{
        height:20px;
    }
</style>

<div class="vote-result">
    <div id="voteB"><div id="voteA">A</div></div>
</div>
<div class="votes-no">
    <h3 >Number Of Votes Of A:<span id="noA"></span></h3>
    <h3 >Number OF Votes Of B:<span id="noB"></span></h3>
    <h3 >Total Number of Votes:<span id="noT"></span></h3>
</div>

